html, body{
    background: rgba(255, 255, 255, 1);
    font: 16px "Century Gothic", Futura, sans-serif;
    height: 100%;
}

.menu{
    width: auto;
    max-width: 80%;
    height: auto;
    min-height: 30px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: '20px';
    grid-auto-rows: minmax(100px, auto);
    white-space: pre-line;
}
.heading{ 
    width: 100%;
    font: sans-serif;
    padding-bottom: 5px;
    margin: 0 auto;
    font: 22px bold;
    grid-column-start: span 3;
}

.value{
    width: auto;
    min-width: 15px;
    height: auto;
    min-height: 5px;
    text-align: center;
    margin: 0 auto;
}
.break{
    width: 100%;
    border-top: gray solid;
    grid-column: 2;
    grid-column-start: span 3;
}


.submit{
    border-bottom: solid black;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    height: auto;
    max-height: 20%;
    position: -webkit-sticky; 
    position: sticky;
    bottom: 5px;
    overflow: scroll;
    background-color: white;
   
}
.string{
    padding-bottom: 5px;
    max-height: 20px;
    height: auto;
}
.send{
    float: right;
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}
.wrapper{
    width: auto;
    max-width: 90%;
}

@media only screen and (max-width: 900px) {

    html, body{
        background: rgba(255, 255, 255, 1);
        font: 16px "Century Gothic", Futura, sans-serif;
        height: 100%;
    }
    
    .menu{
        width: auto;
        max-width: 80%;
        height: auto;
        min-height: 30px;
        text-align: center;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: '20px';
        grid-auto-rows: minmax(100px, auto);
       
    }
    .heading{ 
        width: 100%;
        font: sans-serif;
        padding-bottom: 5px;
        margin: 0 auto;
        font: 22px bold;
        grid-column-start: span 2;
    }
    
    .value{
        width: auto;
        min-width: 15px;
        height: auto;
        min-height: 5px;
        text-align: center;
        margin: 0 auto;
    }
    .break{
        width: 100%;
        border-top: gray solid;
        grid-column-start: span 2;
    }
    
    
    .submit{
        border-bottom: solid black;
        padding: 10px;
        margin: 0 auto;
        width: 80%;
        height: auto;
        max-height: 20%;
        position: -webkit-sticky; 
        position: sticky;
        bottom: 5px;
        overflow: scroll;
        background-color: white;
       
    }
    .string{
        padding-bottom: 5px;
        max-height: 20px;
        height: auto;
    }
    .send{
        float: right;
        max-width: 25px;
        max-height: 25px;
        width: auto;
        height: auto;
    }
    .wrapper{
        width: auto;
        max-width: 90%;
    }
    

}