html, body{
    background: rgba(255, 255, 255, 1);
    font: 16px "Century Gothic", Futura, sans-serif;
    height: 100%;
}

.menu{
    width: auto;
    max-width: 80%;
    height: auto;
    min-height: 30px;
    text-align: center;
    margin: 0 auto;

   
}
.heading{ 
    width: 50%;
    font: sans-serif;
    padding-bottom: 5px;
    margin: 0 auto;
    font: 22px bold;
    
}

.value{
    padding-top: 15px;
    width: auto;
    max-width: 90%;
    height: auto;
    min-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    font: 20px lighter;
}
.lastValue{
    padding-top: 15px;
    width: auto;
    max-width: 90%;
    height: auto;
    min-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: gray solid;
    font: 20px lighter;
}


.items{
    width: auto;
    min-width: 15px;
    height: auto;
    min-height: 5px;
    text-align: center;
    margin: 0 auto;
}

.item{
    width: auto;
    min-width: 30px;
    height: auto;
    min-height: 10px;
    text-align: center;
    margin: 0 auto;
}
.submit{
    border-bottom: solid black;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    height: auto;
    max-height: 20%;
    position: -webkit-sticky; 
    position: sticky;
    bottom: 5px;
    overflow: scroll;
    background-color: white;
   
}
.string{
    padding-bottom: 5px;
    max-height: 20px;
    height: auto;
}
.send{
    float: right;
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}
.wrapper{
    width: auto;
    max-width: 90%;
}
